<% module_namespacing do -%>
<% if class_path.last.present? -%>
require_relative "../<%= class_path.last.underscore %>"

<% end -%>
class <%= class_name %> < Core::ResourceRecord
  # pu:add concerns above.

  # pu:add model configurations above.

<% attributes.select(&:reference?).each do |attribute| -%>
  belongs_to :<%= attribute.name %><%= ", polymorphic: true" if attribute.polymorphic? %>
<% end -%>
  # pu:add belongs_to associations above.

  # pu:add has_one associations above.

  # pu:add has_many associations above.

<% attributes.select(&:attachment?).each do |attribute| -%>
  has_one_attached :<%= attribute.name %>
<% end -%>
<% attributes.select(&:attachments?).each do |attribute| -%>
  has_many_attached :<%= attribute.name %>
<% end -%>
  # pu:add attachments above.

<% attributes.select(&:rich_text?).each do |attribute| -%>
  has_rich_text :<%= attribute.name %>
<% end -%>
<% attributes.select(&:token?).each do |attribute| -%>
  has_secure_token<% if attribute.name != "token" %> :<%= attribute.name %><% end %>
<% end -%>
<% if attributes.any?(&:password_digest?) -%>
  has_secure_password
<% end -%>
  # pu:add misc attribute macros above.

  # pu:add scopes above.

  # pu:add validations above.

  # pu:add callbacks above.

  # pu:add delegations above.

  # pu:add methods above.
end
<% end -%>
