<% module_namespacing do -%>
class <%= class_name %>Policy < ResourcePolicy
  class Scope
    include Plutonium::Policy::Scope

    def resolve
      scope = ::<%= class_name %>.all
      scope = scope.for_parent(@context.parent) if @context.parent.present?
      scope
    end
  end
end
<% end -%>
