# frozen_string_literal: true

FactoryBot.modify do
  factory :<%= model_class_underscored %> do
    # Add your custom factory definitions here or override previous definitions
    # see: https://thoughtbot.github.io/factory_bot/modifying-factories/summary.html
  end
end
