# This file should contain record creation needed to seed the database with default values.
# The data can then be loaded with the bin/rails db:seed command (or created alongside the database with db:setup).
#
# env: <%= seed_environment %>.
#
# Examples:
#
#   record = Model.create_or_find_by!(unique_field: :unique_value) do |r|
#             r.name = 'Record Name'
#            end
